@font-face {
    font-family: 'Brothers-Bold.otf';
    src: url('../fonts/Brothers-Bold.otf');
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Brothers-Bold.otf';
}

.profile-form {
    padding: 20px;
    width: 500px;
    background-color:black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: center; 
    font-size: medium;
}

.perfil{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    width: 100%;
    align-items: center;
    
}

h1{
    font-size: large;
}

.profile-form input[type="text"],
.profile-form input[type="email"] {
    color: black;
    text-align: center;
}

/* Ajusto el estilo de los botones */
.profile-form button {
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Cambio el color del texto de los botones a blanco */
.profile-form button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.profile-form button[type="button"] {
    background-color: #ff0000;
    color: white;
}
